:root {
  --black: #303030;
  --white: #fff;
  --light-grey: #d3d3d3;
  --white-85: #ffffffd9;
  --brown: #3f281e;
  --transparent: #fff0;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  margin-top: 1.25rem;
  margin-bottom: .875rem;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
}

h3 {
  color: var(--black);
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

h4 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--white);
  text-decoration: underline;
}

a:hover {
  color: var(--light-grey);
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  background-image: url('../images/dd-D-black.svg');
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  overflow: hidden;
}

.wrapper--page {
  width: 100%;
}

.wrapper--main {
  margin-left: auto;
  margin-right: auto;
}

.wrapper--hero {
  aspect-ratio: 2.39;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper--hero.engagement {
  background-image: url('../images/custom-engagement-hero.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper--hero.engagement.short {
  aspect-ratio: 2.39;
  background-image: linear-gradient(#303030bf, #303030bf), url('../images/custom-engagement-hero.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.wrapper--hero.wedding-rings {
  background-image: url('../images/custom-wedding-hero.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper--hero.wedding-rings.short {
  aspect-ratio: 4;
}

.wrapper--hero.fashion {
  background-image: url('../images/fashion-background.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper--hero.fashion.short {
  aspect-ratio: 4;
}

.container--hero {
  border: .125rem solid var(--black);
  background-color: var(--white-85);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 35rem;
  max-height: 90%;
  margin-left: 10%;
  padding: 1.75rem 2rem;
  display: flex;
  position: relative;
  box-shadow: 0 7px 9px 3px #30303080;
}

.container--hero.absolute {
  box-shadow: none;
  text-align: center;
  background-color: #303030bf;
  border-style: none none solid;
  border-bottom-width: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0%;
}

.container--hero.absolute.color--white {
  background-color: #303030d9;
}

.text--hero-bottom {
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.button {
  border: .0625rem solid var(--black);
  background-color: var(--black);
  border-radius: .5rem;
  padding: .75rem 1rem;
  transition: box-shadow .4s, color .2s, border-color .2s, background-color .2s;
}

.button:hover {
  background-color: var(--white-85);
  box-shadow: .5rem .5rem 0rem 0rem var(--black);
  color: var(--black);
}

.button:active {
  box-shadow: none;
}

.button.center {
  display: inline-block;
}

.button.center.reverse {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid #000;
}

.button.center.reverse:hover {
  border: 1px solid var(--white);
  background-color: var(--brown);
  color: var(--white);
}

.button.in-footer {
  letter-spacing: .25rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  display: none;
}

.button.reverse {
  background-color: var(--white);
  color: var(--black);
}

.button.reverse:hover {
  border-color: var(--white-85);
  background-color: var(--black);
  color: var(--white);
}

.button.border--grey {
  border-color: var(--light-grey);
}

.button.in-nav {
  margin-left: 1rem;
}

.wrapper--nav {
  border-bottom: 1px solid var(--black);
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.wrapper--nav.home {
  border-bottom-style: none;
}

.link--logo {
  width: 22rem;
}

.link--logo.block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.link--logo.sm {
  width: 18rem;
}

.wrapper--section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.wrapper--section.grid {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 80rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wrapper--section.small {
  text-align: center;
  width: 45rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--section.dark {
  background-color: var(--black);
}

.wrapper--section._80rem {
  text-align: center;
  width: 80rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--section._70rem {
  text-align: center;
  width: 70rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.image--grid {
  object-fit: cover;
  width: 100%;
}

.image--grid.padding--3rem {
  padding: 3rem;
}

.container--block {
  position: relative;
}

.container--block.centered {
  text-align: center;
}

.container--block._50 {
  width: 50%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom--2rem {
  margin-bottom: 2rem;
}

.color--white {
  color: var(--white);
}

.color--white:hover {
  text-decoration: none;
}

.color--white.margin-top--2rem {
  margin-top: 2rem;
}

.divider {
  position: absolute;
  inset: auto 0% 0%;
}

.divider.flip {
  inset: 0% 0% auto;
  transform: rotate(180deg);
}

.list-item-white {
  background-image: url('../images/dd-D-white.svg');
}

.list-item-white.sub {
  margin-bottom: .75rem;
}

.h2--white {
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 3.5rem;
}

.h2--white.padding-bottom--1-5rem, .h2--white.margin--sm {
  margin-bottom: 1.5rem;
}

.text--body--top {
  text-transform: capitalize;
}

.text--body--top.color--white {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.text--body--top.color--white.small {
  font-size: 1rem;
}

.text--body--top.small {
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

.text--body-bottom {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.text--body-bottom.color--white {
  text-transform: capitalize;
}

.text--body-bottom.sm {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.container--cta {
  text-align: center;
  width: 80rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--footer {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: block;
}

.image--logo.in-footer {
  width: 16rem;
  margin-bottom: 2rem;
}

.image--logo._404 {
  margin-bottom: 3rem;
}

.grid--2col {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 80rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.grid--2col._1-3 {
  grid-template-columns: 1.5fr 1fr;
}

.grid--2col._3-1 {
  grid-template-columns: 1fr 1.5fr;
}

.grid--2col._4-1 {
  grid-template-columns: .5fr 1.5fr;
}

.wrapper--utility {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.container-404 {
  text-align: center;
  flex-direction: column;
  width: 40rem;
  max-width: 96%;
  display: flex;
}

.wrapper--404 {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  display: block;
}

.container--button {
  margin-bottom: 1.5rem;
}

.image--404 {
  width: 16rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom--4rem {
  margin-bottom: 4rem;
}

.margin-bottom--6rem {
  margin-bottom: 6rem;
}

.margin-bottom--8rem {
  margin-bottom: 8rem;
}

.container--buttons {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.title-case {
  text-transform: capitalize;
  font-weight: 700;
}

.h3--subhead {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 800;
}

.h3--subhead.color--white.goudy {
  font-size: 2rem;
}

.grid--2x2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 80rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.margin-padding--none {
  margin: 0;
  padding: 0;
}

.container--metal {
  background-image: linear-gradient(135deg, black, var(--black));
  border-radius: 1.25rem;
  padding: 1.25rem 1.75rem;
  transition: box-shadow .35s;
}

.container--metal:hover {
  box-shadow: 0 0 6rem -2rem var(--white-85);
}

.container--metal.platinum {
  border: .5rem solid #d7cecc;
}

.container--metal.yellow-gold {
  border: .5rem solid #fae4b6;
}

.container--metal.white-gold {
  border: .5rem solid var(--white-85);
}

.container--metal.rose-gold {
  border: .5rem solid #f8cfb4;
}

.sublist {
  margin-bottom: .75rem;
}

.link--light {
  color: var(--black);
  text-decoration: underline;
}

.link--light:hover {
  color: var(--brown);
  text-decoration: none;
}

.wrapper--marquee {
  grid-column-gap: 4rem;
  grid-row-gap: 0rem;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.container--marquee {
  grid-column-gap: 4rem;
  flex: none;
  justify-content: space-around;
  min-width: 100%;
  display: flex;
}

.image--marquee {
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}

.container--hero-lg {
  border-style: none none solid;
  border-width: .125rem .125rem 1px;
  border-color: var(--black);
  box-shadow: none;
  color: var(--white);
  text-align: center;
  background-color: #303030b3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem 2rem;
  display: flex;
  position: absolute;
  inset: 0%;
}

.container--hero-lg:hover {
  text-decoration: none;
}

.container--hero-lg._70rem {
  background-color: var(--transparent);
  width: 70rem;
  max-width: 100%;
}

.grid--4col {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 80rem;
  max-width: 100%;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.container--process {
  background-color: var(--white);
  box-shadow: 0 .25rem .5rem 0 #30303066, 0 -.25rem 0 0 var(--black);
  border-radius: .5rem;
  width: 100%;
  padding: 1rem;
}

.image--process {
  aspect-ratio: 1;
  object-fit: contain;
  width: 50%;
  margin-bottom: 1rem;
}

.text--process-head {
  margin-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
}

.text--process-head.goudy {
  font-family: Sorts Mill Goudy, sans-serif;
}

.image--line {
  z-index: -1;
  background-color: var(--black);
  text-align: left;
  width: 98%;
  height: .5rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 50% auto 0% 0%;
}

.slider {
  background-color: var(--transparent);
  height: 100%;
  margin-bottom: 6rem;
}

.container--slide {
  background-color: var(--white);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-height: 16rem;
  display: flex;
}

.slider--mask {
  max-width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.text--quote {
  text-align: center;
  margin-bottom: 2rem;
}

.arrow {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider--arrow {
  width: 3rem;
  height: 3rem;
}

.slider--arrow.flip {
  transform: rotate(180deg);
}

.text--author {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
}

.wrapper--slide {
  background-color: var(--white);
  box-shadow: 0 -.25rem 0 0 var(--black), 0 .25rem .5rem 0 #30303066;
  border-radius: .5rem;
  margin-right: 4%;
  padding: 2.5rem 2rem;
}

.accordion--header {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.25rem;
  display: flex;
}

.accordion--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.accordion--answer {
  padding: 0 1.5rem 1.5rem;
  display: none;
}

.wrapper--accordion {
  width: 50rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container--accordion {
  background-color: var(--white);
  border-radius: .5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.goudy {
  font-family: Sorts Mill Goudy, sans-serif;
}

.h1--goudy {
  width: 80rem;
  max-width: 90%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Sorts Mill Goudy, sans-serif;
  font-size: 4rem;
  line-height: 1.2;
}

.nav--menu {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.wrapper--menu {
  background-color: var(--transparent);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container--menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav--link {
  color: var(--black);
  margin-right: .5rem;
  padding: 1rem;
  transition: color .3s;
}

.nav--link:hover {
  color: #30303080;
}

@media screen and (max-width: 991px) {
  .wrapper--hero {
    aspect-ratio: auto;
  }

  .wrapper--hero.engagement.short {
    height: auto;
  }

  .container--hero {
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .container--hero.absolute.color--white {
    margin-top: 0;
    position: static;
  }

  .wrapper--section.grid {
    flex-flow: column;
    grid-template-columns: 1fr;
  }

  .image--grid {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .container--block._50 {
    width: 100%;
  }

  .grid--2col {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .grid--2col._3-1 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .grid--2x2 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .container--hero-lg {
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .grid--4col {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .image--line {
    width: 1rem;
    height: 100%;
    inset: 0%;
  }

  .slider {
    width: 100%;
    height: 100%;
  }

  .slider--mask {
    max-width: 80%;
  }

  .h1--goudy {
    font-size: 3rem;
  }

  .nav--menu {
    background-color: var(--white);
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .nav--link {
    text-align: center;
    margin-bottom: 1rem;
  }

  .menu-animation {
    position: absolute;
    inset: 0%;
  }

  .menu--button.w--open {
    background-color: var(--transparent);
  }
}

@media screen and (max-width: 767px) {
  .wrapper--hero.engagement.short {
    aspect-ratio: auto;
    height: auto;
  }

  .button.in-footer {
    display: inline-block;
  }

  .image--logo.in-footer {
    margin-bottom: 3rem;
  }

  .grid--2x2 {
    display: block;
  }

  .container--metal {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .wrapper--hero {
    background-color: var(--black);
    padding-top: .5rem;
    padding-bottom: 4rem;
  }

  .wrapper--hero.engagement {
    background-position: 65%;
  }

  .wrapper--hero.engagement.short {
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper--hero.wedding-rings {
    background-position: 55%;
  }

  .wrapper--hero.wedding-rings.short {
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper--hero.fashion {
    background-position: 55%;
  }

  .wrapper--hero.fashion.short {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container--hero {
    width: 96%;
    padding: .75rem 1rem;
  }

  .container--hero.absolute.color--white {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .text--hero-bottom {
    font-size: 1rem;
  }

  .button {
    text-align: center;
  }

  .wrapper--nav {
    margin-left: auto;
    margin-right: auto;
  }

  .link--logo {
    max-width: 90%;
  }

  .wrapper--section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .wrapper--section.grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .wrapper--section.small {
    max-width: 90%;
  }

  .wrapper--section.dark.color--white {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .image--grid {
    width: 100%;
  }

  .container--block.first {
    order: -1;
  }

  .h2--white.margin--sm {
    margin-top: 1.5rem;
  }

  .container--cta {
    max-width: 96%;
  }

  .wrapper--footer {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid--2col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  .grid--2col._1-3 {
    display: flex;
  }

  .grid--2col._3-1 {
    display: block;
  }

  .grid--2col._4-1 {
    display: flex;
  }

  .wrapper--404 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .container--buttons {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    display: flex;
  }

  .grid--2x2 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  .container--metal {
    padding: .75rem 1.25rem;
  }

  .container--hero-lg {
    width: 96%;
    padding: 1.75rem 1rem;
  }

  .grid--4col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  .slider--mask {
    max-width: none;
  }

  .arrow {
    display: none;
  }

  .wrapper--slide {
    padding: 2rem 1rem;
  }

  .h1--goudy {
    font-size: 2rem;
  }

  .menu-animation {
    width: 100%;
    height: 100%;
  }
}

#w-node-a8f27a1d-5f64-512b-15a5-226714ffeefc-11322a1c {
  align-self: center;
}

#w-node-a8f27a1d-5f64-512b-15a5-226714ffeefd-11322a1c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163faf-11322a1c {
  align-self: center;
}

#w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163fb0-11322a1c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32c29789-fffd-4475-1fff-894655a691fc-11322a1c {
  align-self: center;
}

#w-node-_32c29789-fffd-4475-1fff-894655a691fd-11322a1c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_69d716c7-1ab0-97fc-9cb0-095cb542b844-11322a1c, #w-node-_1250d899-dab9-6aa8-250e-0a3466d0943e-85aee131, #w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cab-85aee131 {
  align-self: center;
}

#w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cac-85aee131, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeefd-85aee131 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a8f27a1d-5f64-512b-15a5-226714ffeefc-85aee131, #w-node-bbc75b97-8d7f-9ba5-4442-3aa32affa7e3-85aee131 {
  align-self: center;
}

#w-node-bbc75b97-8d7f-9ba5-4442-3aa32affa7e4-85aee131, #w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18df-85aee131 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18fc-85aee131, #w-node-_69d716c7-1ab0-97fc-9cb0-095cb542b844-ef7b9bf1, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeef5-ef7b9bf1, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeefc-ef7b9bf1 {
  align-self: center;
}

#w-node-a8f27a1d-5f64-512b-15a5-226714ffeefd-ef7b9bf1, #w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163fb0-ef7b9bf1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163fa8-ef7b9bf1, #w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163faf-ef7b9bf1 {
  align-self: center;
}

#w-node-_32c29789-fffd-4475-1fff-894655a691fd-ef7b9bf1, #w-node-_32c29789-fffd-4475-1fff-894655a691f5-ef7b9bf1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_32c29789-fffd-4475-1fff-894655a691fc-ef7b9bf1, #w-node-_21dd9d46-4445-49d3-29b6-10fca2df6caa-07e40940, #w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cab-07e40940 {
  align-self: center;
}

#w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cac-07e40940, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeefd-07e40940 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a8f27a1d-5f64-512b-15a5-226714ffeef5-07e40940, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeefc-07e40940, #w-node-bbc75b97-8d7f-9ba5-4442-3aa32affa7e2-07e40940, #w-node-bbc75b97-8d7f-9ba5-4442-3aa32affa7e3-07e40940 {
  align-self: center;
}

#w-node-bbc75b97-8d7f-9ba5-4442-3aa32affa7e4-07e40940, #w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18df-07e40940 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18fb-07e40940, #w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18fc-07e40940, #w-node-_69d716c7-1ab0-97fc-9cb0-095cb542b844-07e40940, #w-node-_1250d899-dab9-6aa8-250e-0a3466d0943e-ae639033, #w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cab-ae639033 {
  align-self: center;
}

#w-node-_21dd9d46-4445-49d3-29b6-10fca2df6cac-ae639033, #w-node-_0dfe4409-6e2a-9586-a1a2-d2a171596d2b-ae639033 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_0dfe4409-6e2a-9586-a1a2-d2a171596d2a-ae639033, #w-node-_1c51267f-5af3-5129-d179-f3bc465e44b9-ae639033 {
  align-self: center;
}

#w-node-_1c51267f-5af3-5129-d179-f3bc465e44ba-ae639033 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_69d716c7-1ab0-97fc-9cb0-095cb542b844-7c36d043 {
  align-self: center;
}

#w-node-_706b5710-e31e-60d9-9a85-86f9cc7ef655-7c36d043 {
  justify-self: start;
}

#w-node-_32c29789-fffd-4475-1fff-894655a691fd-7c36d043 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-a8f27a1d-5f64-512b-15a5-226714ffeef5-85aee131, #w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18fb-85aee131, #w-node-a8f27a1d-5f64-512b-15a5-226714ffeef5-07e40940, #w-node-_044a07ec-dc37-4d23-4227-e9d2b30a18fb-07e40940 {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_952f68ae-9ddc-9b03-7f3b-4e08c0163fa8-ef7b9bf1 {
    grid-area: 1 / 1 / 2 / 2;
  }
}


